<div class="container">
  <form class="row g-3 mt-4">

    <div class="col-auto">
      <label for="inputName" class="visually-hidden">Name</label>
      <input type="name" class="form-control" id="inputName" placeholder="Name">
    </div>

    <div class="col-auto">
      <label for="inputSurname" class="visually-hidden">Surname</label>
      <input type="Surname" class="form-control" id="inputSurname" placeholder="Surname">
    </div>

    <div class="col-auto">
      <label for="inputPhone" class="visually-hidden">Phone</label>
      <input type="phone" class="form-control" id="inputPhone" placeholder="Phone">
    </div>

    <div class="col-auto">
      <label for="inputEmail" class="visually-hidden">Emaild</label>
      <input type="password" class="form-control" id="inputEmail" placeholder="email@example.com">
    </div>
    
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Password</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
  </form>
</div>